/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

.bilbo-regular {
	font-family: "Bilbo", serif;
	font-weight: 400;
	font-style: normal;
}




.pt-serif-regular {
	font-family: "PT Serif", serif;
	font-weight: 400;
	font-style: normal;
}

.pt-serif-bold {
	font-family: "PT Serif", serif;
	font-weight: 700;
	font-style: normal;
}

.pt-serif-regular-italic {
	font-family: "PT Serif", serif;
	font-weight: 400;
	font-style: italic;
}

.pt-serif-bold-italic {
	font-family: "PT Serif", serif;
	font-weight: 700;
	font-style: italic;
}






/* Typography
--------------------------------------------- */
body {

	font-family: "PT Serif", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #282828;
	background-color: #ffffff;
}

h1 {

	text-align: center;
	font-family: "Bilbo", serif;
	font-size: 2.5rem;
	color: rgb(18, 137, 98);

}

h2,
h3,
h4,
h5,
h6 {
	font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
	margin: .5em 0;
	font-size: 1.75rem;
}



p {
	font-size: 1rem;
	margin: auto;
}


/* Elements
--------------------------------------------- */
ul {}

ol {}

dl {}

figure {}

table {}

/* Links
--------------------------------------------- */

a,
a:visited {
	color: #ffffff;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

a:focus {
	outline: 1px dotted;
}




/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header 
--------------------------------------------- */


.navigation {
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	align-items: center;
	justify-content: space-evenly;
	height: 2.5rem;
	list-style-type: none;
	background-color: #282828;
	margin: 0;
	padding-left: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;

}

.iran-landscape {
	object-fit: cover;
	min-height: 8rem;
	max-height: 28rem;
	width: 100%;
	padding: 0;

}



/* Main
--------------------------------------------- */
/* Specific styles for each page go here */

/* Home Page */

.site-wrapper {

	position: relative;
	top: 0;
	margin-bottom: 5rem;

}

.site-wrapper p {

	margin: auto;
	max-width: 85%;
	width: 85%;
}



/* History Page */

/* Culture Page */

/* Credits Page */



/* Footer
--------------------------------------------- */

.site-footer {
	border-top: 1px solid #888888;
	text-align: center;
	padding: 1rem;
	margin-bottom: 0;
}



@media (min-width: 50em) {
	.site-footer {

		margin-bottom: 0;
	}
}