/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

.bilbo-regular {
	font-family: "Bilbo", serif;
	font-weight: 400;
	font-style: normal;
}




.pt-serif-regular {
	font-family: "PT Serif", serif;
	font-weight: 400;
	font-style: normal;
}

.pt-serif-bold {
	font-family: "PT Serif", serif;
	font-weight: 700;
	font-style: normal;
}

.pt-serif-regular-italic {
	font-family: "PT Serif", serif;
	font-weight: 400;
	font-style: italic;
}

.pt-serif-bold-italic {
	font-family: "PT Serif", serif;
	font-weight: 700;
	font-style: italic;
}






/* Typography
--------------------------------------------- */
body {

	font-family: "PT Serif", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #282828;
	background-color: #ffffff;
}

h1 {

	text-align: center;
	font-family: "Bilbo", serif;
	font-size: 2.5rem;
	color: #1a754d;
	margin-top: 2rem;
}

h2 {
	display: block;
	font-family: "Bilbo", Georgia, Times, "Times New Roman", serif;
	margin: .5em 0;
	font-size: 1.5rem;
	color: #282828;
	letter-spacing: .1rem;
	border-bottom: solid 2px;
	margin-bottom: 2rem;
	margin-top: 2rem
}



h3,
h4,
h5,
h6 {
	display: block;
	font-family: "Bilbo", Georgia, Times, "Times New Roman", serif;
	margin: .5em 0;
	font-size: 1.5rem;
	color: #282828;
	letter-spacing: .1rem;

}



p {
	font-size: 1rem;

}


/* Elements
--------------------------------------------- */
ul {}

ol {}

dl {}

figure {}

table {}

/* Links
--------------------------------------------- */

a,
a:visited {
	color: #ffffff;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

a:focus {
	outline: 1px dotted;
}




/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header 
--------------------------------------------- */


.navigation {
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	align-items: center;
	justify-content: space-evenly;
	height: 2.5rem;
	list-style-type: none;
	background-color: #282828;
	margin: 0;
	padding-left: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;

}



/* Main
--------------------------------------------- */
/* Specific styles for each page go here */

/* Home Page */


.iran-landscape {
	object-fit: cover;
	min-height: 8rem;
	max-height: 28rem;
	width: 100%;
	padding: 0;

}

.site-wrapper {

	position: relative;
	top: 0;
	margin-bottom: 5rem;

}

.site-wrapper p {

	margin: auto;
	max-width: 85%;
	width: 85%;
}

@media (min-width: 50em) {
	.site-wrapper p {

		font-size: 1.25rem;
		max-width: 55%;
	}
}

/* History Page */

.container img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	margin: 0 auto;
	margin-bottom: 1rem;
}

.container-caption p {

	margin-top: 1rem;

}

h2 {

	text-align: center;

}



.womeniran img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	margin: 0 auto;
	margin-bottom: 1rem;

}

.womeniran-caption p {

	margin-top: 1rem;

}

@media(min-width:31.25em) {

	h1 {

		font-size: 3em;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 0;
		;
	}

	.container img {
		width: 800px;
		height: 500px;
		max-height: 70%;
		margin-right: 1rem;
	}

	.container-caption p {
		max-width: 70%;
		display: flex;
		margin: 0;
		padding-left: 1rem;
		margin-top: 1rem;
	}

	h2 {
		font-size: 2.5rem;

	}

	.womeniran {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: space-between;
		padding: 1rem 0;

	}

	.womeniran img {
		width: 800px;
		height: 500px;
		max-height: 70%;
		margin-right: 5rem;
		margin-left: 0;

	}

	.womeniran-caption p {
		max-width: 70%;
		display: flex;
		margin: 0;
		padding-left: 1rem;
		margin-top: 1rem;

	}



}


/* Culture Page */

.culture-headliner {
	display: block;
	max-width: 60rem;
	margin: auto;
	border-bottom: 2px solid black;

}


.culture-articles {

	align-items: center;

}

.culture-articles div {

	padding: 1rem;
	margin: 2rem 1rem;
}

.culture-articles img {

	width: 18.75rem;
	margin-bottom: 0;
	border-radius: 1rem;


}

h3 {
	margin-top: 0;
	text-align: center;


}

.culture-articles p {

	margin: 0;
	font-size: 90%;
	text-align: center;

}


blockquote {
	background-color: #1b448c2c;
	max-width: 25rem;
	padding: 1rem 3rem;
	margin: auto;

}

figcaption {
	margin-top: 0;
	text-align: right;
	font-size: 85%;
}


.quote {
	max-width: 70%;
	width: 70%;


}

@media screen and (min-width:50em) {

	.culture-header-img {
		max-height: 500px;
		width: 100%;
		padding: 0;
	}

	.culture-articles {

		display: grid;
		grid-template-columns: 1fr 20rem 1fr;
		grid-template-rows: 1fr 20rem auto;
		justify-content: center;
		justify-items: center;
		gap: 1rem;
		max-width: 90rem;
		margin: 5rem auto;
	}

	.culture-articles div:first-of-type {

		grid-column: 1;
		grid-row: 2 / span 2;

	}

	.culture-articles .tehran {

		grid-column: 2;
		grid-row: 1 / span 2;

	}

	blockquote {

		grid-column: 2;
		grid-row: 2 / span 2;
	}

	.culture-articles .dizi {

		grid-column: 3;

	}

	.culture-articles .haftsin {

		grid-column: 1;
		grid-row: 1;

	}

	.culture-articles .halim {

		grid-column: 3;
		grid-row: 2 / span 2;

	}



}




/* Credits Page */



/* Footer
--------------------------------------------- */

.site-footer {
	border-top: 1px solid #888888;
	text-align: center;
	padding: 1rem;
	position: relative;
	margin-top: 37.5rem;
}



@media (min-width: 50em) {}